In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("dataframetask").getOrCreate()

In [3]:
spark

In [4]:
df = spark.read.csv("C:/Users/Kapil Patidar/Downloads/annual-enterprise-survey-2021-financial-year-provisional-csv.csv", header = True)

In [5]:
df.show(5,True)

+----+---------------------------+--------------------+--------------------+------------------+-------------+--------------------+--------------------+-------+----------------------+
|Year|Industry_aggregation_NZSIOC|Industry_code_NZSIOC|Industry_name_NZSIOC|             Units|Variable_code|       Variable_name|   Variable_category|  Value|Industry_code_ANZSIC06|
+----+---------------------------+--------------------+--------------------+------------------+-------------+--------------------+--------------------+-------+----------------------+
|2021|                    Level 1|               99999|      All industries|Dollars (millions)|          H01|        Total income|Financial perform...|757,504|  ANZSIC06 division...|
|2021|                    Level 1|               99999|      All industries|Dollars (millions)|          H04|Sales, government...|Financial perform...|674,890|  ANZSIC06 division...|
|2021|                    Level 1|               99999|      All industries|Dollars (millions)|          H05|Interest, dividen...|Financial perform...| 49,593|  ANZSIC06 division...|
|2021|                    Level 1|               99999|      All industries|Dollars (millions)|          H07|Non-operating income|Financial perform...| 33,020|  ANZSIC06 division...|
|2021|                    Level 1|               99999|      All industries|Dollars (millions)|          H08|   Total expenditure|Financial perform...|654,404|  ANZSIC06 division...|
+----+---------------------------+--------------------+--------------------+------------------+-------------+--------------------+--------------------+-------+----------------------+
only showing top 5 rows

In [22]:
# Total Number of Row
row = df.count()
row

41715

In [7]:
# Total  Number of columns
col = len(df.columns)
col

10

In [8]:
df.columns

['Year',
 'Industry_aggregation_NZSIOC',
 'Industry_code_NZSIOC',
 'Industry_name_NZSIOC',
 'Units',
 'Variable_code',
 'Variable_name',
 'Variable_category',
 'Value',
 'Industry_code_ANZSIC06']

In [9]:
from pyspark.sql.functions import countDistinct

## The number of distinct values of each columns

In [10]:
df.select(countDistinct("Year")).show()

+--------------------+
|count(DISTINCT Year)|
+--------------------+
|                   9|
+--------------------+

In [11]:
df.select(countDistinct("Industry_aggregation_NZSIOC")).show()

+-------------------------------------------+
|count(DISTINCT Industry_aggregation_NZSIOC)|
+-------------------------------------------+
|                                          3|
+-------------------------------------------+

In [12]:
df.select(countDistinct("Industry_code_NZSIOC")).show()

+------------------------------------+
|count(DISTINCT Industry_code_NZSIOC)|
+------------------------------------+
|                                 139|
+------------------------------------+

In [13]:
df.select(countDistinct("Industry_name_NZSIOC")).show()

+------------------------------------+
|count(DISTINCT Industry_name_NZSIOC)|
+------------------------------------+
|                                 119|
+------------------------------------+

In [14]:
df.select(countDistinct("Units")).show()

+---------------------+
|count(DISTINCT Units)|
+---------------------+
|                    3|
+---------------------+

In [15]:
df.select(countDistinct("Variable_code")).show()

+-----------------------------+
|count(DISTINCT Variable_code)|
+-----------------------------+
|                           39|
+-----------------------------+

In [16]:
df.select(countDistinct("Variable_name")).show()

+-----------------------------+
|count(DISTINCT Variable_name)|
+-----------------------------+
|                           41|
+-----------------------------+

In [17]:
df.select(countDistinct("Variable_category")).show()

+---------------------------------+
|count(DISTINCT Variable_category)|
+---------------------------------+
|                                3|
+---------------------------------+

In [18]:
df.select(countDistinct("Value")).show()

+---------------------+
|count(DISTINCT Value)|
+---------------------+
|                10084|
+---------------------+

In [19]:
df.select(countDistinct("Industry_code_ANZSIC06")).show()

+--------------------------------------+
|count(DISTINCT Industry_code_ANZSIC06)|
+--------------------------------------+
|                                   121|
+--------------------------------------+

## Find the each column empty and Null values

In [20]:
from pyspark.sql.functions import col,isnan, when, count

In [21]:
df.select([count(when(isnan(c), c)).alias(c) for c in df.columns]).show()

+----+---------------------------+--------------------+--------------------+-----+-------------+-------------+-----------------+-----+----------------------+
|Year|Industry_aggregation_NZSIOC|Industry_code_NZSIOC|Industry_name_NZSIOC|Units|Variable_code|Variable_name|Variable_category|Value|Industry_code_ANZSIC06|
+----+---------------------------+--------------------+--------------------+-----+-------------+-------------+-----------------+-----+----------------------+
|   0|                          0|                   0|                   0|    0|            0|            0|                0|    0|                     0|
+----+---------------------------+--------------------+--------------------+-----+-------------+-------------+-----------------+-----+----------------------+